/* light.css */

/* General styling for the entire application */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}


/* Home page styles */
#post-section .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #d4d1fa;
}

#post-section .card:hover {
    cursor: pointer;
    background-color: #c1b8f7;
}

#post-section .card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-section .card-title {
    color: #000;
    font-weight: bold;
}

#post-section .card-img {
    width: auto !important;
    height: 85%; 
}

#post-section .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#post-section .card-footer {
    background: none;
    border-top: none;
    padding: 10px;
}

#post-section .card-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

#post-section .card-footer .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

#post-section .card-footer .btn-secondary:focus, #post-section .card-footer .btn-secondary:active {
    background-color: #545b62;
    border-color: #4e555b;
}

#post-section .post-tags {
    margin-bottom: 15px;
}

#post-section .badge-secondary {
    margin-right: 5px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

/* Search bar styles */
.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar-container .form-inline {
    width: 100%;
    max-width: 60%;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    background-color: #6a6f73;
}

.search-bar-container .form-group.long-input {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}

.search-bar-container .form-group.long-input .form-control {
    width: 90%;
}

.search-bar-container .form-group.long-input .btn {
    width: 8%;
}

.search-bar-container .form-group.filters {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.search-bar-container .form-group.filters > * {
    flex: 0 0 20%;
    margin-right: 2%;
}

.search-bar-container .form-group.filters > *:last-child {
    margin-right: 0;
}

.search-bar-container .form-control, .search-bar-container .btn {
    width: 100%;
}

.search-bar-container .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.search-bar-container .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.search-bar-container .btn-primary:focus, .search-bar-container .btn-primary:active {
    background-color: #0062cc;
    border-color: #005cbf;
}

/* Filter styles */
#filter-name{
    margin-bottom: 5px;
    color: black;
    text-emphasis: bold;
}

/* About page styles */
#about .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about .profile-pic {
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 5px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

#about .profile-pic:hover {
    transform: scale(1.05);
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {display:none;}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
input:checked + .slider {
    background-color: #66bb6a;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Pagination styles */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}
.pagination > li:first-child > a, 
.pagination > li:first-child > span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* General styling for the About page */
.container#about {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Headings */
#about h1, #about h2 {
    color: #007bff;
}

/* Team cards */
#about .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
}

#about .profile-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 10px;
}

#about .card-title {
    color: #007bff;
    margin-bottom: 15px;
}

#about .card-text {
    font-size: 16px;
}

/* Roadmap */
#about .list-group-item {
    border: none;
    border-radius: 0;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #333;
}

#about .list-group-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

/* send-email page styles */
#send-email {
    background-color: #ddd;
}

/* Profile page styles */
#account-setting{
    background-color: white;
}

#profile-overview {
    border-radius: 15px;
    background-color: white;
}
#user-details {
    border-radius: 15px;
    background-color: white;
}

#user-details .card-body {
    background-color: white;
}

#user-details .card-body .list-group-item{
    background-color: white;
    color: black;
}