<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-elementarys">
				
					<div class="card-header">
						<h5 class="card-title">Elementarys</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{elementary}}</h3>
					</div>
			
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-juniors">
				
					<div class="card-header">
						<h5 class="card-title">Juniors</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{junior}}</h3>
					</div>
				
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-seniors">
				
					<div class="card-header">
						<h5 class="card-title">Seniors</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{senior}}</h3>
					</div>
				
			</div>
		</div>
	</div>
</div>