{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
    #profile-overview {
        border-radius: 15px;
    }
    #user-details {
        border-radius: 15px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card" id="profile-overview">
                <img class="card-img-top rounded-circle mx-auto d-block mt-3" style="width: 60%;" src="{{profile_user.account.profile_pic.url}}" alt="Profile Picture">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ profile_user.account.name }}</h5>
                    <p class="card-text">Email: {{ profile_user.account.email }}</p>
                    {% if request.user.is_staff %}
                        <a href="{% url 'send_email' %}" class="btn btn-primary"><i class="fas fa-envelope"></i> Send Email</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card" id="user-details">
                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
                    <div class="list-group">
                        {% for post in profile_user.account.post_set.all %}
                            <a href="{% url 'post' post.id %}" class="list-group-item list-group-item-action">{{ post }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}