{% block footer %}
<footer class="bg-dark text-white pt-3 pb-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="d-inline-block p-2" href="https://github.com/willychen0146">
                    <i class="fab fa-github" style="font-size: 20px;"></i>
                </a>
                <a class="d-inline-block p-2" href="https://www.youtube.com/">
                    <i class="fab fa-youtube" style="font-size: 20px;"></i>
                </a>
                <a class="d-inline-block p-2" href="https://www.twitter.com/">
                    <i class="fab fa-twitter" style="font-size: 20px;"></i>
                </a>
                <a class="d-inline-block p-2" href="https://www.discord.com/">
                    <i class="fab fa-discord" style="font-size: 20px;"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">&copy; 2024 NoMercySusie</p>
                <p>contact: NoMercySusie@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}