{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" width="50" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_staff %}
                <li class="nav-item"><a class="nav-link" href="{% url 'create_post' %}">Post</a></li>
            {% endif %}
            {% if request.user.is_staff and not request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'account' %}">Setting</a></li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'userHome' %}">Observation mode</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        </ul>

        {% if request.user.is_staff %}
            <span class="hello-msg" style="color: white;">Hello, {{request.user}}</span>
        {% else %}
            <span class="hello-msg" style="color: white;">Hello, Guest</span>
        {% endif %}

        <span class="navbar-delimiter">|</span>

        {% if request.user.is_staff %}
            <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt" style="color: red;"></i>
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        {% endif %}

        <!--switch dark/light css-->
        {% if request.user.is_staff %}
            <span class="navbar-delimiter">|</span>
            <i id="theme-switch-icon" class="fas fa-adjust fa-fw"></i>
        {% endif %}
    </div>

    <!-- menu list -->
    <div id="menuList" style="display: none;">
          <div class="menu-close-btn">&times;</div>
          <ul>
              <li style="color:black;font-size: 40px; font-weight: bold">Menu</li>
              <li><a href="{% url 'create_post' %}">Post</a></li>
              <li><a href="{% url 'send_message' %}">Send Messages</a></li>
              <li><a href="{% url 'inbox' %}">Messages Box</a></li>
              <li><a href="{% url 'send_email' %}">Send Email</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
    </div>

    <button id="menuButton" style="margin-left: 20px;">
        <i class="fas fa-bars fa-2x"></i>
    </button>

</nav>